.cat-card{style: derive_background_image(cat)}
  - if cat['type'] == 'cat'
    = render partial: 'cats/cat', locals: {cat: cat}
  - else
    %table.full
      %tr.full
        - if cat["type"].in?(%w(negative positive))
          %td.tcol-2
          %td.tcol-4.cat-shift-title
            %h5.cat-title
              = cat["title"]
          %td.tcol-6
            != get_happiness_top_right(cat["Number-tr"], cat['subtype'])
        - elsif cat["type"] == 'cat'
          %td.tcol-4
            != get_needs(cat['Number-tl'])
          %td.tcol-6
            %h5.cat-title.cat-left-align.cat-title-big{style: "text-align: right;"}
              = cat["title"]
        - elsif cat['type'] == 'upgrade'
          %td.tcol-3
            %span
              = cat["Number-tl"]
            %span
              %i.fa.fa-sd-card
          %td.tcol-5
            %h5.cat-title
              = cat["title"]
          %td.tcol-3
            %span
              = cat["Number-tr"]
            %i.fa.fa-lightbulb
        - else
          %td.tcol-3
            != get_costs(cat["Number-tl"])
          %td.tcol-10
            %h5.cat-title{style: "text-align: right;"}
              = cat["title"]
    - if cat['type'] != 'Money'
      %img.cat-img{src: get_tile_image(cat)}
    - else
      %img.cat-img-massive{src: get_tile_image(cat)}
    - if cat['type'] == 'award'
      .cat-stats.row
        .col-12.trophies
          %i.fas.fa-trophy
          TROPHY
    - if cat['type'] == 'cat'
      .cat-stats.row
        .col-12.trophies{class: "color-#{cat['subtype']}"}
          != render_subtype(cat['subtype'], true)

    - if cat['type'] == 'event'
      .cat-stats.row
        .col-12.trophies
          EVENT
    - if cat['type'] == 'upgrade'
      .cat-stats.row
        .col-12
          != cat['subtype']
          upgrade
    - if cat['type'] == 'greed'
      .cat-stats.row
        .col-12.trophies
          GREED
    - if cat['type'] == 'positive'
      .cat-stats.row
        .col-12
          ATTACH TO CAT FOR BONUS
    - if cat['subtype'] == "room upgrade"
      .cat-stats.row
        .col-12
          Room Upgrade
    - if cat['subtype'].in?(%w(attack cat-achment resource overloving defense collaborative))
      .cat-stats.row
        .col-12
          = cat['subtype'].upcase
    - if cat['subtype'] == 'item'
      .cat-stats.row
        .col-12
          PERMANENT ITEM
    - if cat['type'] == 'aggro'
      .cat-stats.row
        .col-12
          ATTACK
    - if cat['type'] == 'defense'
      .cat-stats.row
        .col-12
          DEFENSE
    - if cat['type'] == 'negative'
      .cat-stats.row
        .col-12
          ATTACH TO CAT FOR LULS
    .cat-mechanics
      %h4.cat-description{style: "margin-top: 5px; font-size: 14px;"}
        - (cat["description"] || "").split("\n").each do |line|
          %div
            != render_cat_line(line, big_cat: true)
      - if cat['type'] == 'cat'
        %td.tcol-2.cat-scores
          != get_needs(cat["Number-tr"])
      %h7.cat-flavor
        = cat["flavor"]