%h1
  HELLO KITTIES

  = link_to "da rules", "https://docs.google.com/document/d/1ONTHeYTsFVOLIQJIGger-aqo8Iq_IPk4aB7I5VOckX0/edit?usp=sharing", target: 'blank'
.page-break-test

.cat-gallery
  - @cats.each do |cat|
    .cat-card
      %h5.cat-title
        = cat["title"]
      %img.cat-img{src: cat["tile_image"]}
      - if cat["tolerance"].present?
        .cat-stats.row
          .col-4
            %span
              = image_tag asset_path("tolerance.jpeg"), class: 'tolerance'
            %span
              = cat["tolerance"]
          .col-4
            %span
              = image_tag asset_path("coolcat.png"), class: 'tolerance'
            %span
              = cat["points"]
          .col-4
            %span
              = cat["subtype"]

      .cat-mechanics
        %h4.cat-description
          - (cat["description"] || "").split("\n").each do |line|
            %div
              = line
        %h7.cat-flavor
          = cat["flavor"]

.row.rules-reference
  .col-10
    %h1
      Quick Rules Reference
    %h2
      Start of Turn:
    %h3
      1): Either:
    %ul
      %li Play an action card from the pile.
      %li Discard a card an action card from the pile, perform 2 bonus actions.
    %h3
      2): Pick one of these actions
    %ul
      %li Harass one cat with love, placing 2 annoyed tokens, or two cats for 1 each. If a cat has more Annoyance tokens than the threshold, remove all Annoyance tokens from it and send it to the stray cat alley.
      %li Spend X-1 influence tokens, reduce X annoyed tokens from one cat
      %li Gain 1 token of any kind, including influence, VP, and bid tokens.
      %li Spend 1 influence token to place a bid on a cat. This causes everyone to place a blind bid. Losing bids must still spend half of the influence, rounded down. Nobody wins ties.
    %h3
      3): If you have a cat with Perform: on it, you may annoy it by putting it on performance.
    %h6
      This means you put 2 annoyed tokens on it and gain its Perform effect.
    %h6
      You may only do this to one cat per turn.
    %h3  4): Set Keyword
    %h6 This means when you play this card, gain the Action: effect. You can discard it for its Set: effect. 

  .col-10
    %h1
      Errata/FAQ
    %h4
      What happens if two Reaction cards are played at once?
    %h6
      Resolve them in order via first player token taking preference, if order matters.
    %h4
      Can I do Perform on a cat if that would put them over the limit?
    %h6
      Yes, but then the cat would immediately go to the Stray bin.

.row.extra-tokens
  .col-10
    %h2
      Extra Tokens 2 Print

    .row
      - (1..60).each do |num|
        .col-1.number
          = num
