%h1
  HELLO KITTIES

  = link_to "da rules", "https://docs.google.com/document/d/1ONTHeYTsFVOLIQJIGger-aqo8Iq_IPk4aB7I5VOckX0/edit?usp=sharing", target: 'blank'
.page-break-test

.cat-gallery
  - @cats.each do |cat|
    .cat-card
      %h5.cat-title
        = cat["title"]
      %img.cat-img{src: cat["tile_image"]}
      - if cat["tolerance"].present?
        .cat-stats.row
          .col-4
            %span
              = image_tag asset_path("tolerance.jpeg"), class: 'tolerance'
            %span
              = cat["tolerance"]
          .col-4
            %span
              = image_tag asset_path("coolcat.png"), class: 'tolerance'
            %span
              = cat["points"]
          .col-4
            %span
              = cat["subtype"]

      .cat-mechanics
        %h4.cat-description
          - (cat["description"] || "").split("\n").each do |line|
            %div
              = line
        %h7.cat-flavor
          = cat["flavor"]
