
%h1
  HELLO KITTIES

  = link_to "da rules", "https://docs.google.com/document/d/1ONTHeYTsFVOLIQJIGger-aqo8Iq_IPk4aB7I5VOckX0/edit?usp=sharing", target: 'blank'
.sign-up
  .row
    .col-12
      Interested in hearing more and receiving updates on progress? Sign up for our email list!
  .row

    %a{href:"https://twitter.com/TheProphetBrtha?ref_src=twsrc%5Etfw", class:"twitter-follow-button", dataShowCount:false}
      Or follow on tweeeeter ( @TheProphetBrtha )
  = simple_form_for @email do |f|
    .row
      .col-4
        = f.input :email
      .col-6
        = f.submit "Add Email", class: 'btn btn-primary'
.page-break-test

.cat-gallery
  - @cats.each do |cat|
    .cat-card
      %table.full
        %tr.full
          - if cat["type"].in?(%w(negative positive))
            %td.tcol-2
            %td.tcol-4.cat-shift-title
              %h5.cat-title
                = cat["title"]
            %td.tcol-6
              != get_happiness_top_right(cat["Number-tr"], cat['subtype'])
          - elsif cat["type"] == 'cat'
            %td.tcol-4
              %h5.cat-title.cat-left-align.cat-title-big
                = cat["title"]
            %td.tcol-7.cat-scores
              - if cat["type"] == "cat"
                != get_happiness_medium(cat["Number-tr"])
          - else
            %td.tcol-2
              - if cat["Number-tl"].present?
                != get_happiness(cat["Number-tl"])
            %td.tcol-7
              %h5.cat-title
                = cat["title"]
            %td.tcol-2
      - if cat['type'] != 'Money'
        %img.cat-img{src: get_tile_image(cat)}
      - else
        %img.cat-img-massive{src: get_tile_image(cat)}
      - if cat['type'] == 'award'
        .cat-stats.row
          .col-12.trophies
            %i.fas.fa-trophy
            TROPHY
      - if cat['type'] == 'cat'
        .cat-stats.row
          .col-12.trophies
            != render_subtype(cat['subtype'])

      - if cat['type'] == 'event'
        .cat-stats.row
          .col-12.trophies
            EVENT
      - if cat['type'] == 'greed'
        .cat-stats.row
          .col-12.trophies
            GREED
      - if cat['type'] == 'positive'
        .cat-stats.row
          .col-12
            ATTACH TO CAT FOR BONUS
      - if cat['type'] == 'negative'
        .cat-stats.row
          .col-12
            ATTACH TO CAT FOR LULS
      .cat-mechanics
        %h4.cat-description
          - (cat["description"] || "").split("\n").each do |line|
            %div
              != render_cat_line(line)
        %h7.cat-flavor
          = cat["flavor"]
        - if cat["Number-tr"].present?
          -if cat['type'] == 'action'
            .cat-action-cost
              = cat["Number-tr"].gsub('.00', '')
          - elsif cat['type'] == 'cat'
            -#!= get_happiness_big(cat["Number-tr"])


.row.extra-tokens
  .col-10
    %h2
      Extra Tokens 2 Print

    .row
      - (1..60).each do |num|
        .col-1.number
          = num
