.container
  .pitch
    = image_tag(asset_path("faketitle.JPG"), class: "main-img")
    = simple_form_for @email, html: {class: 'form'} do |f|
      %p
        Add your email to receive updates on when the Kickstarter Launch will happen, and promotions.
      .row{style: "margin-bottom: 5px; display: flex; justify-content: center; align-items: center;"}
        = f.input :email
        = f.submit "Sign Up!", class: 'btn btn-primary'

    %p
      Kitty Committee is a chaotic strategy game for cat people, centered around resource management to accomplish two goals: pleasing your kitties, and getting more precious babies.
    .gallery{style: "display: flex; overflow-x: scroll; align-items: center;"}
      - @cats.each do |cat|
        = render partial: 'cats/card', locals: {cat: cat}
    -#.row{style: "display: flex; margin-left: 10px; align-items: center; justify-content: center;"}
    .row
      %p.text-muted{style: "padding-left: 20px;"}
        Cartoon art is from our creator. You can purruse the rest of the gallery
        = link_to "here", just_cards_cats_path
        , but those have placeholder art
    -#%p
    -#  After seeing the available kitties, you pick cards into your hand as fits your strategy and taste. Would you strategically steal resources from your enemies, turning your neighbor's cats into living shits? How about holding on to the right resources to manage your Neopolitan Pair? Are you seeking to have just one, well-pampered cat? Or are you just seeking to be petty, out to get the person who screwed you last round?
    %p
      Pending Kitten Approval, Final Product Likely to Include:
    .row{style: "text-align: left;"}
      .col-3
      .col-6
        %ul{style: "border: 1px solid black; padding: 20px;"}
          %li
            Drafting
          %li
            Auctions to buy more precious kitties
          %li
            Trying to gain the most Joy by pleasing your cat
          %li
            Harassing your opponents
          %li
            Choosing between hoarding cats or pleasing a few cats well
          %li
            Abandoning winning to just be petty
          %li
            Collecting cats that are matches, like the cats Vanilla, Strawberry, and Chocolate
          %li
            And more!
    %p
      Pleasing your cat may be harder than you bargained for, but we love them all the same. Except Winnie. She really needs to work on her purr programming first.

    .row
      .col-4
      .col-4
        .example
          = render partial: 'cats/card', locals: {cat: @winnie}
    .sign-up
      .row
        .col-12
          Interested in hearing more and receiving updates on progress? Sign up for our email list!
      .row
        .col-12
          = simple_form_for @email, html: {class: 'form', style: "padding-bottom: 10px;"} do |f|
            = f.input :email
            = f.input :name
            = f.submit "Sign Up To Get Notified When Kitty Committee is Launching!", class: 'btn btn-primary'